extends layout

block content
    div(class="alert alert-danger" role="alert") 
        h3  لطفا ابتدا در سایت  
            a(href="/register") عضو شوید
        p   اگر قبلا درسایت عضو هستید، 
            a(href="/login") وارد سایت شوید